<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />

<head>
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Latest compiled and minified CSS -->

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

<!-- Optional theme -->
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
	   
	<div class="panel panel-default">
		        
		<div class="panel-heading">
			 <strong>Login de Usuarios</strong>         
		</div>
		        
		<div class="panel-body">
			<div th:if="${param.error}">				        
				<h1 style="color: red">Usuario ou senha estao errados.</h1>			    
			</div>
			    
			<div th:if="${param.logout}">				        
				<h1 style="color: blue">Logged out.</h1>				    
			</div>
			<form th:action="@{/login/form}" method="post" role="form">
				           
				<fieldset>
					 
					<div class="form-group row">
						<div class="col-md-4">
							<label for="email">E-mail:</label> <input type="text"
								class="form-control input-sm" name="username" id="username" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-4">
							<label for="senha">Senha:</label> <input type="text"
								class="form-control input-sm" name="password" id="password" />
						</div>
					</div>

					<button type="submit" class="btn icon-btn btn-success">
						<span
							class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
						Entrar
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>